// #### FONTS #### 
// font-family: 'Acme', sans-serif;
// font-family: 'Exo 2', sans-serif;
// font-family: 'Indie Flower', cursive;
// font-family: 'Merienda', cursive;
// font-family: 'Press Start 2P', cursive;


//  #### NAVIGATION BAR ####

.navbar {
    background-color: #eaeaea;
    font-size: 1.2rem;
    font-weight: bold;

    .navbar-collapse {
        justify-content: flex-end;
        align-items: center;
    }

    .navbar-nav {
        justify-content: center;
        align-items: flex-end;
    }

    .navbar-brand {
        margin: 10px;
    }
}

// #### GENERAL STYLES #### 
.toHome {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 30px;
    color: rgb(238, 1, 1);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.5);
    transition: all 300ms;
    font-size: 1.8rem;
    text-align: center;

    &:hover {
        transform: scale(1.5);
    }
}

.bg-onDark {
    background-color: rgb(84, 60, 97);
    color: white;
}

.bg-onLight {
    background-color: #EAEAEA !important;
    color: black;
}

.tPri {
    font-size: 4rem;
    font-family: 'Merienda', cursive;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tSec {
    font-size: 2.5rem;
    font-family: 'Merienda', cursive;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pPri {
    font-family: 'Merienda', cursive;
}

i {
    font-style: normal;
    font-weight: bold;
    color: burlywood;
}

// #### HERO SECTION #### 
.header {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .hero-content {
            height: auto;

            .hero-title {
                margin-top: 30px;
                transition: all 300ms ease-in;
            }

            .hero-img-profile {
                width: 24.4%;
                height: 24.4%;
                object-fit: cover;
                border-radius: 50%;
                margin: 50px 0px;
                margin-top: 70px;
                overflow: hidden;
                animation-name: palpito;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-duration: 3s;
            }
        }
    }
}

// #### SKILLS SECTION ####  
.skills{
    height: 100vh;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 1280px){
    .skills{
        height: 100%;
    }
}

// #### PROJECTS SECTION ####  
.projects{
    height: 100vh;
}

// #### ABOUT ME SECTION #### 
.about-me {
    .about-me-content{
        box-shadow: 0 0 10px rgba(84, 60, 97, 0.5), 0 0 20px rgba(84, 60, 97, 0.7);
        border-radius: 100px;
        border: 5px solid white;
        min-height: 400px;
        .pPri{
            margin: 20px 15px 0 15px;
        }
    }

}

// #### CONTACT SECTION ####
.contact{
    z-index: 0;
    height: 50vh;
}



// #### MEDIA QUERIES ####
@media screen and (max-width: 767px) {
    .hero-img-profile {
        min-width: 35%;
        min-height: 35%;
    }
}

// #### ANIMATIONS ####
@keyframes palpito {
    0% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    50% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 10px rgba(0, 0, 0, 0.7),
    }

    100% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}