.navbar {
  background-color: #eaeaea;
  font-size: 1.2rem;
  font-weight: bold;
}
.navbar .navbar-collapse {
  justify-content: flex-end;
  align-items: center;
}
.navbar .navbar-nav {
  justify-content: center;
  align-items: flex-end;
}
.navbar .navbar-brand {
  margin: 10px;
}

.toHome {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 30px;
  color: rgb(238, 1, 1);
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.5);
  transition: all 300ms;
  font-size: 1.8rem;
  text-align: center;
}
.toHome:hover {
  transform: scale(1.5);
}

.bg-onDark {
  background-color: rgb(84, 60, 97);
  color: white;
}

.bg-onLight {
  background-color: #EAEAEA !important;
  color: black;
}

.tPri {
  font-size: 4rem;
  font-family: "Merienda", cursive;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tSec {
  font-size: 2.5rem;
  font-family: "Merienda", cursive;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pPri {
  font-family: "Merienda", cursive;
}

i {
  font-style: normal;
  font-weight: bold;
  color: burlywood;
}

.header {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}
.header .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header .hero .hero-content {
  height: auto;
}
.header .hero .hero-content .hero-title {
  margin-top: 30px;
  transition: all 300ms ease-in;
}
.header .hero .hero-content .hero-img-profile {
  width: 24.4%;
  height: 24.4%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 50px 0px;
  margin-top: 70px;
  overflow: hidden;
  -webkit-animation-name: palpito;
          animation-name: palpito;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.skills {
  height: 100vh;
  padding: 0;
  margin: 0;
}
.skills .skills-container {
  height: 100%;
  border: 4px solid chartreuse;
}
.skills .skills-container .skills-title {
  height: 17%;
  text-align: center;
  border: 4px solid red;
}
.skills .skills-container .skills-content {
  height: 83%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 4px solid blue;
}
.skills .skills-container .skills-content .skills-content-block {
  width: 47%;
  height: 100%;
  border: 4px solid yellow;
}
.skills .skills-container .skills-content .skills-content-block p {
  text-align: center;
  font-size: 1.9rem;
  padding: 20px;
}
.skills .skills-container .skills-content .skills-content-block ul {
  margin: 0;
  padding: 0;
  gap: 2%;
  list-style: none;
}
.skills .skills-container .skills-content .skills-content-block ul li {
  margin: 5px;
  text-align: center;
  border: 3px solid salmon;
}
.skills .skills-container .skills-content .skills-content-block .iconos {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 1280px) {
  .skills {
    height: 100%;
  }
}
.projects {
  height: 100vh;
}

.about-me .about-me-content {
  box-shadow: 0 0 10px rgba(84, 60, 97, 0.5), 0 0 20px rgba(84, 60, 97, 0.7);
  border-radius: 100px;
  border: 5px solid white;
  min-height: 400px;
}
.about-me .about-me-content .pPri {
  margin: 20px 15px 0 15px;
}

.contact {
  z-index: 0;
  height: 50vh;
}

@media screen and (max-width: 767px) {
  .hero-img-profile {
    min-width: 35%;
    min-height: 35%;
  }
}
@-webkit-keyframes palpito {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 10px rgba(0, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
@keyframes palpito {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 10px rgba(0, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}/*# sourceMappingURL=style.css.map */